.flex.text-white{id: "#{dom_id list}"}
  %p.font-bold.mx-auto.text-xl= link_to list.name, edit_list_path(list)
%ul.space-y-2{"data-controller" => "sortable", "data-sortable-group-value" => "todos", "data-sortable-list-id" => "#{list.id}"}
  - list.todos.rank(:row_order).each do |todo|
    %li.todo{"data-sortable-update-url" => "#{sort_todo_path(todo)}"}
      = render todo
  - if list.default_list?
    .new-item-btn.action-btn.new-todo
      = link_to "+", new_todo_path
