%div{id: "#{dom_id todo}"}
  %p
    %strong Name:
    = todo.name
  %p
    %strong Category:
    = todo.category
  %p
    %strong Description:
    = todo.description
  %p
    %strong Deadline:
    = todo.deadline
