<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= todo.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= todo.deadline %>
  </p>
</div>
