%p{style: "color: green"}= notice
= render @todo
%div
  = link_to "Edit this todo", edit_todo_path(@todo)
  |
  \#{link_to "Back to home", root_path}
  
  \#{button_to "Destroy this todo", @todo, method: :delete}
