= form_with model: @todo_item do |form|
  - if form.object.errors.any?
    %div
      - form.object.errors.full_messages.each do |message|
        %div= message
  %div
    = form.label :title
    = form.rich_text_area :title
  %div
    = form.label :todo_item_type
    = form.select :todo_item_type, @types
  -# %div
  -#   = form.label :status
  -#   = form.select :status, 
  %div
    = form.label :description
    = form.rich_text_area :description
  -# %div
  -#   = form.label :abandonment_reason
  -#   = form.text_field :abandonment_reason
  %div
    = form.label :deadline
    = form.datetime_select :deadline, include_blank: true

  = form.button class: "bg-gray-100 px-4 py-2 rounded hover:bg-gray-200"
