%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MultipleTodoList
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "false", name: "turbo-prefetch"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.container.flex-col.mx-auto
    %p.notice= notice
    %p.alert= alert
    %div.flex
      %h1.mx-auto.font-bold.text-4xl TodoItems

    %div.flex
      = yield
